 @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');


body {
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            line-height: 26px;
            overflow-x: hidden !important;
        }

img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
        /*-- overlay grayscle effect --*/

.grayscale-effect img {
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
        }

.grayscale-effect:hover img {
            filter: grayscale(0);
            -webkit-filter: grayscale(0);
        }


@media (max-width: 767px) {
            .effect-image-1 {
                margin: 30px 0px;
            }
        }
h2 {
            text-align: center;
        }

h2:after {
            display: block;
            height: 2px;
            background-color: #e67e22;
            content: "";
            width: 300px;
            margin: 0 auto;
            margin-top: 30px;
        }